@model Web_11.Models.data.Tintuc

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<meta name="viewport" content="width=device-width" />
<title>Edit</title>
<h4>Tintuc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTinTuc" />
            <div class="form-group">
                <label asp-for="TieuDe" class="control-label"></label>
                <input asp-for="TieuDe" class="form-control" />
                <span asp-validation-for="TieuDe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avatar" class="control-label"></label>
                <input asp-for="Avatar" class="form-control" />
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TomTat" class="control-label"></label>
                <textarea asp-for="TomTat" class="form-control"></textarea>
                <span asp-validation-for="TomTat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuotTuongTac" class="control-label"></label>
                <input asp-for="LuotTuongTac" class="form-control" />
                <span asp-validation-for="LuotTuongTac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuotXem" class="control-label"></label>
                <input asp-for="LuotXem" class="form-control" />
                <span asp-validation-for="LuotXem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThaiHienThi" class="control-label"></label>
                <input asp-for="TrangThaiHienThi" class="form-control" />
                <span asp-validation-for="TrangThaiHienThi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextNoiDung" class="control-label"></label>
                <textarea asp-for="TextNoiDung" class="form-control"></textarea>
                <span asp-validation-for="TextNoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<!--Kích hoạt phần tử #Content là Editor HTML -->
<script src="@Url.Content("~/summernote/summernote-bs4.js")"></script>
<link href="@Url.Content("~/summernote/summernote-bs4.min.css")" rel="stylesheet">
@section Scripts
{
    @await Html.PartialAsync("_Summernote", new { height = 200, selector = "#TextNoiDung" })
}
