@using Microsoft.AspNetCore.Identity
@using Web_11.Models
@using Microsoft.AspNetCore.Authorization
@inject SignInManager<AppUser> SignInManager

@inject Microsoft.AspNetCore.Authorization.IAuthorizationService authorizationService
@if (SignInManager.IsSignedIn(User)
 && (await authorizationService.AuthorizeAsync(User, "AdminDropdown")).Succeeded)
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Admin" asp-page="/Role/Index" title="Manage">Công cụ quản trị</a>
    </li>
}