*{
    margin: 0;
    padding: 0;
    
}

h1{
    text-align: center;
    padding: 10px;
}
.BXH{
    border: 1px  gray;
    text-align: center;
}
.BXH thead{
    background: green;
    color:white;
}
.SAN_SALE{
    text-align: center;
    color: red;
}
 tbody tr:hover{
    background-color:gainsboro;
}


.card img{
    width: 100%;
}
@media only screen and (min-width:375px) and (max-width:767px){
    .container .hide{
        display: none;
    }
    
}
@media only screen and (min-width:768px) and (max-width:1024px) {
    .container .hien{
        display: none;
    }
}

.jumbotron{
    margin-top: 20px;
}
.Lien-He{
    text-align: right;
    padding-top: 65px;
}



