/* navbar */
.navbar-brand img{
    height: 4rem;
    }
    .navbar{
      font-size: 1.15rem;
      font-weight: 700;
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0,0, .2);
      z-index: 1;
    }
    nav-item{
      padding: .5rem;
    }
    .nav-link{
      color:white !important;
    }
    .nav-link.active,
    .nav-link:hover{
      color:#32CD32 !important;
    }
#datepicker {
    text-align: left;
    color: red;
}
.table-responsive-md {
    text-align: center;   
   
}
.table-responsive-md thead {
    background: green;
    color: white;     
    border-style: groove;
    border-color: gray;
}
.table-responsive-md table, th, td{
    border-style: groove;
    border-color: gray;
}
.table{
    width: 100%;
}
tbody tr:hover{
    background-color: gainsboro;
}

.lich{
    align-items: right;
    
}


.card-header{
    font-weight: 700;
    font-size: 1rem;
}

.SAN_SALE{
    color: red;
    
}   

@media only screen and (min-width:375px) and (max-width: 1000px){
    .hide{
        display: none;
    }
    .container h2{
        text-align: center;
    }
    #datepicker{
        align-items: flex-end;
    }
   
    .Hien .card-img-top{
        height: 220px;
    }
    
}
@media only screen and (min-width:1020px){
    .Hien{
        display: none;
    }
    .SAN_SALE{
        color: red;
        margin: auto;
    } 
}
/* footer */
div.container-fluid.text-center.text-md-left{
    background-color: #3399ff !important ;
  }
  div.footer-copyright.text-center.py-3{
    background-color:  #338ffa!important;
    color: white;
  }
  div.footer-copyright.text-center.py-3 a:hover{
  color: #000 !important;
  text-decoration: none;
  }
  /* ------------- */