
@{
    ViewData["Title"] = "Doanh Thu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
        <div class=" header-data container-fluid ">
            <form class="form-inline" action="#">
                <h3 ></h3>
                <input class="form-control ml-auto d-none d-sm-block " type="text" placeholder="Search"
                       style="width: 30% !important;border-radius: 8px; display:inline-block;">
                <button class="btn btn-success d-none d-sm-block" type="submit">Search</button>
            </form>
        </div>
        <!--Table Data-->
        <div class="container-fluid" style="font:menu">
            <div class="row padding">
                <div class="">
                    <div class="form-group">
                        <label for="sel1">Thời gian:</label>
                        <select class="form-control" id="sel1" style="font-size: x-small;">
                            <option>Tuần này</option>
                            <option>Tháng này</option>
                            <option>Quý này</option>
                            <option>Năm này</option>
                            <option>Tất cả</option>
                        </select>
                    </div>
                </div>
                <div class="">
                    <div class="form-group">
                        <label for="sel2">Trạng thái:</label>
                        <select class="form-control" id="sel2" style="font-size: x-small;">
                            <option>Đang hiển thị</option>
                            <option>Không hiển thị</option>
                            <option>Tất cả</option>
                        </select>
                    </div>
                </div>
                <div class="">
                    <div class="form-group">
                        <label for="sel3">Sắp xếp theo:</label>
                        <select class="form-control" id="sel3" style="font-size: x-small;">
                            <option>Lượt tương tác</option>
                            <option>Lượt tương tác giảm dần</option>
                            <option>Tất cả</option>
                        </select>
                    </div>
                </div>
                <div class="ml-auto"></div>
                <div class="ml-auto">
                    <button type="button" class=" btn btn-outline-dark ml-auto " id="btn-refresh-new">
                        <i class="fas fa-sync"></i> Cập Nhật
                    </button>
                    <button type="button" class=" btn btn-outline-success ml-auto" id="btn-refresh-new">
                        <i class="far fa-plus-square"></i> Thêm tin mới
                    </button>
                </div>
            </div>
        </div>
        <div class="container col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>ID</th>
                            <th>Tiêu Đề</th>
                            <th>Nội Dung</th>
                            <th>Trạng Thái</th>
                            <th>Lượt tương tác</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>000001</td>
                            <td>Tiêu đề tin 1</td>
                            <td>Nội dung của dòng đầu tin 1</td>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input active" value="">Hiển thị
                                    </label>
                                </div>
                            </td>
                            <td>100</td>
                            <td>
                                <div>
                                    <button type="button" class="btn btn-outline-dark ml-auto">
                                        <i class="far fa-edit"></i> Sửa
                                    </button>
                                    <button type="button" class="btn btn-outline-danger ml-auto">
                                        <i class="fas fa-trash-alt"></i> Xoá
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>000002</td>
                            <td>Tiêu đề tin 1</td>
                            <td>Nội dung của dòng đầu tin 1</td>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input active" value="">Hiển thị
                                    </label>
                                </div>
                            </td>
                            <td>100</td>
                            <td>
                                <div>
                                    <button type="button" class="btn btn-outline-dark ml-auto">
                                        <i class="far fa-edit"></i> Sửa
                                    </button>
                                    <button type="button" class="btn btn-outline-danger ml-auto">
                                        <i class="fas fa-trash-alt"></i> Xoá
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>000001</td>
                            <td>Tiêu đề tin 1</td>
                            <td>Nội dung của dòng đầu tin 1</td>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input active" value="">Hiển thị
                                    </label>
                                </div>
                            </td>
                            <td>100</td>
                            <td>
                                <div>
                                    <button type="button" class="btn btn-outline-dark ml-auto">
                                        <i class="far fa-edit"></i> Sửa
                                    </button>
                                    <button type="button" class="btn btn-outline-danger ml-auto">
                                        <i class="fas fa-trash-alt"></i> Xoá
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>000001</td>
                            <td>Tiêu đề tin 1</td>
                            <td>Nội dung của dòng đầu tin 1</td>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input active" value="">Hiển thị
                                    </label>
                                </div>
                            </td>
                            <td>100</td>
                            <td>
                                <div>
                                    <button type="button" class="btn btn-outline-dark ml-auto">
                                        <i class="far fa-edit"></i> Sửa
                                    </button>
                                    <button type="button" class="btn btn-outline-danger ml-auto">
                                        <i class="fas fa-trash-alt"></i> Xoá
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>000001</td>
                            <td>Tiêu đề tin 1</td>
                            <td>Nội dung của dòng đầu tin 1</td>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input active" value="">Hiển thị
                                    </label>
                                </div>
                            </td>
                            <td>100</td>
                            <td>
                                <div>
                                    <button type="button" class="btn btn-outline-dark ml-auto">
                                        <i class="far fa-edit"></i> Sửa
                                    </button>
                                    <button type="button" class="btn btn-outline-danger ml-auto">
                                        <i class="fas fa-trash-alt"></i> Xoá
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>000001</td>
                            <td>Tiêu đề tin 1</td>
                            <td>Nội dung của dòng đầu tin 1</td>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input active" value="">Hiển thị
                                    </label>
                                </div>
                            </td>
                            <td>100</td>
                            <td>
                                <div>
                                    <button type="button" class="btn btn-outline-dark ml-auto">
                                        <i class="far fa-edit"></i> Sửa
                                    </button>
                                    <button type="button" class="btn btn-outline-danger ml-auto">
                                        <i class="fas fa-trash-alt"></i> Xoá
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>000001</td>
                            <td>Tiêu đề tin 1</td>
                            <td>Nội dung của dòng đầu tin 1</td>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input active" value="">Hiển thị
                                    </label>
                                </div>
                            </td>
                            <td>100</td>
                            <td>
                                <div>
                                    <button type="button" class="btn btn-outline-dark ml-auto">
                                        <i class="far fa-edit"></i> Sửa
                                    </button>
                                    <button type="button" class="btn btn-outline-danger ml-auto">
                                        <i class="fas fa-trash-alt"></i> Xoá
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>000001</td>
                            <td>Tiêu đề tin 1</td>
                            <td>Nội dung của dòng đầu tin 1</td>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input active" value="">Hiển thị
                                    </label>
                                </div>
                            </td>
                            <td>100</td>
                            <td>
                                <div>
                                    <button type="button" class="btn btn-outline-dark ml-auto">
                                        <i class="far fa-edit"></i> Sửa
                                    </button>
                                    <button type="button" class="btn btn-outline-danger ml-auto">
                                        <i class="fas fa-trash-alt"></i> Xoá
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>000001</td>
                            <td>Tiêu đề tin 1</td>
                            <td>Nội dung của dòng đầu tin 1</td>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input active" value="">Hiển thị
                                    </label>
                                </div>
                            </td>
                            <td>100</td>
                            <td>
                                <div>
                                    <button type="button" class="btn btn-outline-dark ml-auto">
                                        <i class="far fa-edit"></i> Sửa
                                    </button>
                                    <button type="button" class="btn btn-outline-danger ml-auto">
                                        <i class="fas fa-trash-alt"></i> Xoá
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>000001</td>
                            <td>Tiêu đề tin 1</td>
                            <td>Nội dung của dòng đầu tin 1</td>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input active" value="">Hiển thị
                                    </label>
                                </div>
                            </td>
                            <td>100</td>
                            <td>
                                <div>
                                    <button type="button" class="btn btn-outline-dark ml-auto">
                                        <i class="far fa-edit"></i> Sửa
                                    </button>
                                    <button type="button" class="btn btn-outline-danger ml-auto">
                                        <i class="fas fa-trash-alt"></i> Xoá
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--Table navi-->
            <div class="ml-auto col-11 col-md-8">
                <ul class="pagination">
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </div>
        </div>
</div>
<hr>